.header{
    background: #ffff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100vw;
    padding: 10px 0;
}

.header a img{
    height: 40px;
    width: auto;
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header nav ul li{
    margin: 0 2rem;
}

.header nav ul li:first-child{
    margin-left: 0;
}

.header nav ul li:last-child{
    margin-right: 0;
}