.logolist{

}

.logolist{
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.logolist section{
    max-width: 220px;
    flex: 0 0 auto;
    margin: 0px 25px 50px 25px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.logolist section img{
    width: 75%;
    margin-top: 10%;
    pointer-events: none;
}

.logolist section:hover img{
    transform: scale(1.05);
    transition: 0.2s;
}

.logolist section h3{
    font-size: 1em;
    font-weight: 400;
    color: #000;
    pointer-events: none;
}

.popup{
    display: none;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #535353e3;
    color: #000;
    margin: 0 !important;
    z-index: 99999;
}

.popup button{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 3em;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

.popup button svg{
    pointer-events: none;
}

.popup > section{
    max-width: 1350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    cursor: auto;
}

.popup > section div{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: initial;
    width: 50%;
} 

.popup > section div:first-child{
    width: 30%;
}

.popup > section div h3{
    font-size: 2em;
    margin: 0;
}

.popup > section div:first-child img{
    width: auto;
}

.popup section:hover img{
    transform: scale(1);
    transition: 0.2s;
}

.popup > section div:first-child a{
    display: block;
    background: #ffff;
    color: #000;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
    border-radius: 3px;
}
