.portfolio{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    position: relative;
}

.portfolio ul{
    background: #ffff;
    min-height: 300px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 5px;
    list-style: none;
}

.portfolio ul li:first-child{
    position: absolute;
}

.portfolio ul li:first-child img{
    width: auto;
    height: 50px;
    margin-top: 50px;
}

.portfolio ul li:nth-of-type(2){
    margin-top: 200px;
}